{% extends 'base.html' %}

{% block content %}
<h2 class="display-4">Посты пользователя: {{ user.username }}</h2>
<div class="row container">
    {% for post in posts %}
        <div class="post col-lg-4 col-md-6">
            <a href="/posts/{{ post.id }}" class="h4">
                {{ post.name }}
            </a>
            {% if post.photo %}
                <div>
                    <img src="{{ post.photo.url }}" class="img-fluid mt-2">
                </div>
            {% endif %}
            <p class="lead">
                Лайки: {{ post.likes }}
            </p>
        </div>
    {% endfor %}
</div>
{% endblock %}

